.section-list{
  .row{
    display: flex;
    flex-wrap: wrap;
    .col{
      margin-left: 0!important;
    }
    .card{
      height: calc(100% - 20px);
      .card-image{
        position: unset;
      }
    }
  }
}

