.component-card-list__sort-panel{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 18px;
  align-items: center;
  label{
    margin-right: 4px;
  }
}
.component-card-list__sort-item{
  display: flex;
  justify-items: center;
  margin-right: 16px;
}
.component-card-list__sort-buttons {
  margin-left: 4px;
  display: inline-block;
  cursor: pointer;
}