.collection-detail__list{

}
.collection-detail__item{
}
.collection-detail__cell{
  &.word-name{
    font-weight: 600;
  }
}
.collection-detail__actions{
  width: 95px;
}
.collection-detail__action-button{
  margin-left: 2px;
  margin-right: 2px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: inline-block;
  box-sizing: border-box;
  img{
    max-width: 100%;
  }
}
.search-block{
  flex-grow: 1;
  justify-content: end;
  margin-right: 0;
}
.component-card-list__search-input{
  margin-right: 0;
  width: 180px;
  position: relative;
  .text-input{
    padding-right: 26px;
  }
  .search-button{
    position: absolute;
    right: -8px;
    top: 3px;
  }
}