.about{
  background-color: #fff;
  padding-top: 28px;
  padding-bottom: 22px;
  border-bottom: 1px solid #ccc;
}
.about h1{
  font-size: 32px;
  margin-top:0;
  text-align: center;
}
.component-top{
  margin-top: 24px;
  margin-bottom: 24px;
}
.component-top__header{
  text-align: center;
}