.phrase-container{
  @include breakpoint(max-width $medium-screen){
    margin-top: 26px;
  }
}
.back-row {
  a {
    font-size: 18px;
    i {
      position: relative;
      top: 6px;
    }
  }
}
@include breakpoint(max-width $medium-screen) {
  .back-row {
    z-index: 10000;
    position: relative;
    margin-left: 30px;
    top: -4px;
    a, i {
      color: #fff;
      opacity:1;
    }
  }
}
.center-container{
  display: block;
  max-width: 520px;
  margin: 16px auto auto;

}
.error-block {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  color: red;
}
.card-content{
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 16px;
  text-align: center;
  min-height: 260px;
  .question-text{
  }
  .ru-text, .en-text, .ipa-text{
    font-size: 1.3em;
  }
  .ipa-text {
    color: red;
    font-size: 1.3em;
  }
  .ru-text{
    color: green;
  }
  .ru-text.active-text{
    color: green;
    .highlight{
      color: #4482d0;
    }
  }
  .answer-text{

  }
  .en-text.active-text{
    color: black;
    .highlight{
      color: #4482d0;
    }
  }
}
.word-row{
  text-align: center;
  margin-top: 6px;
  span{
    font-size: 1.4rem;
    text-decoration: underline;
  }
}
.lang-setting{
  display: inline-block;
}
.setting-row{
  text-align: center;
}
.training-setting{
  display: inline-block;
  .switch{
    width: 160px;
    padding-left: 5px;
  }
  .switch-label{
    width: 74px;
  }
  .switch-selection{
    width: 78px;
  }
  .switch-input:checked + .switch-label-on ~ .switch-selection{
    left: 78px;
  }
}
.active-text {
  background-color: #ece4b6;
}
.bg-grey{
  background-color: #f4f2f2;
}
.audio-row{
  margin-top: 8px;
  margin-bottom: 8px;
}
.score-row {
  margin-top: 16px;
  background-color: #fff;
  padding: 12px;
  text-align: center;
  box-shadow: 0 1px 4px
  rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
  font-size: 1.4rem;
  position: relative;
  .len-score{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    background-color: #00E676;
    z-index: 1;
  }
  .value-score{
    position: relative;
    z-index: 2;
  }
}
.enter-solve {
  margin-top: 16px;
  textarea{
    width: 100%;
    padding: 12px;
    font-size: 1.4em;
  }
}
.nav-info-row{
  text-align: center;
  margin-top: 6px;
}
.text-tip {
  font-style: italic;
  line-height: 1.1;
  margin-top: 12px;
}
.answer-button-row{
  text-align: center;
  margin-top: 12px;
}
.nav-row{
  text-align: center;
  margin-top: 16px;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}