.phrase-container{
  @include breakpoint(max-width $medium-screen){
    margin-top: 26px;
  }
}
.back-row {
  a {
    font-size: 18px;
    i {
      position: relative;
      top: 6px;
    }
  }
}
@include breakpoint(max-width $medium-screen) {
  .back-row {
    z-index: 10000;
    position: fixed;
    left: 45px;
    top: 7px;
    a, i {
      color: #fff;
      opacity:1;
    }
  }
}
.center-container{
  display: block;
  max-width: 520px;
  margin: 16px auto auto;

}
.error-block {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  color: red;
}
.card-content{
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 16px;
  text-align: center;
  min-height: 260px;
  .question-text{
  }
  .ru-text, .en-text, .ipa-text{
    font-size: 1.3em;
  }
  .ipa-text {
    color: red;
    font-size: 1.3em;
  }
  .ru-text{
    color: green;
  }
  .ru-text.active-text{
    color: green;
    .highlight{
      color: #4482d0;
    }
  }
  .answer-text{

  }
  .en-text.active-text{
    color: black;
    .highlight{
      color: #4482d0;
    }
  }
  @include breakpoint(max-width $medium-screen){
    min-height: auto;
    .ru-text, .en-text, .ipa-text{
      font-size: 1.1em;
    }
  }
}
.word-row{
  text-align: center;
  margin-top: 6px;
  span{
    font-size: 1.4rem;
    text-decoration: underline;
  }
}
.lang-setting{
  display: inline-block;
}
.setting-row{
  text-align: center;
}
.training-setting{
  display: inline-block;
  .switch{
    width: 160px;
    padding-left: 5px;
  }
  .switch-label{
    width: 74px;
  }
  .switch-selection{
    width: 78px;
  }
  .switch-input:checked + .switch-label-on ~ .switch-selection{
    left: 80px;
  }
}
.active-text {
  background-color: #ece4b6;
}
.bg-grey{
  background-color: #f4f2f2;
}
.audio-row{
  margin-top: 8px;
  margin-bottom: 8px;
}
.score-row {
  margin-top: 16px;
  background-color: #fff;
  padding: 12px;
  text-align: center;
  box-shadow: 0 1px 4px
  rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
  font-size: 1.4rem;
  position: relative;
  @include breakpoint(max-width $medium-screen){
    font-size: 1.1rem;
    padding: 4px;
  }
  .len-score{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    background-color: #00E676;
    z-index: 1;
  }
  .value-score{
    position: relative;
    z-index: 2;
  }
}
.enter-solve {
  margin-top: 16px;
  textarea{
    width: 100%;
    padding: 12px;
    font-size: 1.4em;
    @include breakpoint(max-width $medium-screen){
      font-size: 1.1em;
      padding: 6px;
    }
  }
}
.nav-info-row{
  text-align: center;
  margin-top: 6px;
}
.text-tip {
  font-style: italic;
  line-height: 1.1;
  margin-top: 12px;
}
.answer-button-row{
  text-align: center;
  margin-top: 12px;
}
.nav-row{
  text-align: center;
  margin-top: 16px;
}

.answer-button {
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color:#007dc1;
  border-radius:3px;
  border:1px solid #124d77;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:18px;
  padding:12px 11px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
}
.answer-button:hover {
  background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color:#0061a7;
}
.answer-button:active {
  position:relative;
  top:1px;
}
.page-button {
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  background:linear-gradient(to bottom, #0ac6ff 5%, #1379bd 100%);
  background-color:#0ac6ff;
  border-radius:3px;
  border:1px solid #2682bf;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Verdana;
  font-size:16px;
  padding:7px 11px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
}
.page-button:hover {
  background:linear-gradient(to bottom, #1379bd 5%, #0ac6ff 100%);
  background-color:#1379bd;
}
.page-button:active {
  position:relative;
  top:1px;
}

.page-button-back {
  box-shadow:inset 0px 1px 0px 0px #f55656;
  background:linear-gradient(to bottom, #ff580a 5%, #bd1515 100%);
  background-color:#ff580a;
  border-radius:3px;
  border:1px solid #bd2626;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Verdana;
  font-size:16px;
  padding:7px 11px;
  text-decoration:none;
  text-shadow:0px 1px 0px #bd1515;
}
.page-button-back:hover {
  background:linear-gradient(to bottom, #bd1515 5%, #ff580a 100%);
  background-color:#bd1515;
}
.page-button-back:active {
  position:relative;
  top:1px;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}