html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}
.content{
  min-height: calc(100vh - 200px);
  clear:both;
  margin-bottom: 50px;
}

.header{
  .top-block .container{
    display: flex;
    justify-content: space-between;
    background-color: #eaeef4;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  .logo-block{
    height: 120px;
    display: flex;
    align-items: center;
  }
  .user-block{
    height: 120px;
    display: flex;
    align-items: center;
    a{
      color: #fff;
      &:hover{
        color: $secondary-color;
      }
    }
  }
}
.sidenav{
  .dop-section {
    border-top: 1px solid #ccc;
    padding-left: 14px;
    padding-right: 14px;
    .tags-block{
      border:none;
    }
  }
}

.section-header{
  text-align: center;
  margin-bottom: 2rem;
  margin-top:0;
}
.top-block {
  height: 120px;
  background-color: #fff;
  @include breakpoint(max-width $medium-screen){
    display:none;
  }
}
.breadcrumbs{
  list-style: none;
  padding: 0;
  margin: 18px 0;
  .breadcrumb-item{
    display: inline-block;
    font-size: 13px;
    &.active{
      color: #6c6c6c;
    }
  }
  .seporator-item{
    margin-left: 5px;
  }
}
.nav-block .container{
  background-color: $primary-color;
}
.main-menu ul{
  @include breakpoint(max-width $medium-screen){
    display:none;
  }
  li{
    &:hover, &.active{
      a{
        background-color: $secondary-color;
      }
    }
    a{
      background-color: $primary-color-dark;
      border-right: 1px solid $primary-color;
    }
    &:last-child{
      a{
        border-right: 0;
      }
    }
  }
}

.container{
  &.with-sidebar{
    display: flex;
    .content{
      width:calc(100% - 240px);
      @include breakpoint(max-width $medium-screen){
        width: 100%;
      }
    }
  }
}

.sidebar{
  width: 220px;
  margin-right: 20px;
  @include breakpoint(max-width $medium-screen){
    display: none;
  }
}
.ads-block img{
  max-width: 100%;
}
.table{
  display: table;
  width: 100%;
}
.table-row{
  display: table-row;
  &:nth-child(odd){
    .table-cell{
      background-color: #f2f2f2;
    }
  }
}
.table-cell{
  display: table-cell;
  padding: 8px;
}

.nav-pagen{
  text-align: center;
  .pagination{
    li{
      &.active{
        span.page-link{
          width: 30px;
          height: 30px;
          color: #fff;
          display: inline-block;
          line-height: 30px;
        }
      }
      &:first-child,&:last-child{
        vertical-align: middle;
      }
      &:first-child .page-link, &:last-child .page-link{
        font-size: 48px;
        width: 30px;
        height: 30px;
        display: inline-block;
        line-height: 30px;
        position: relative;
        top: -4px;
      }
    }
  }
}


.page-footer{
  background-color: map-get($grey, 'darken-1');
  .menu-block{
    @include breakpoint(max-width $medium-screen){
      display: none;
    }
  }
  .vk-block{
    text-align: right;
    @include breakpoint(max-width $small-screen){
      text-align: center;
    }
    .white-text{
      text-align: center;
    }
  }
  .center-cell{
    text-align: center;
    @include breakpoint(max-width $medium-screen){
      text-align: left;
    }
    @include breakpoint(max-width $small-screen){
      text-align: center;
    }
  }
  .center-component{
    width: 220px;
    height: 200px;
    background-color: #ccc;
    display: inline-block;
  }
  #vk_groups{
    display: inline-block;
  }
}

