html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}
.content{
  min-height: calc(100vh - 200px);
  clear:both;
  margin-bottom: 50px;
}

.header{
  background-image: url("/images/bg.jpg");
  .top-block .container{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .left-block {
    display: flex;
  }
  .addition-info-block{
    margin-left: 18px;
    font-size: 16px;
    width: 380px;
    padding-right: 18px;
    border-right: 1px solid #4d6986;
    .text-donat-descr {
      font-size: 15px;
      line-height: 1.2;
      font-style: italic;
    }
    a{
      font-weight: 700;
    }

  }
  .logo-block{
    height: 120px;
    display: flex;
    align-items: center;
    border-right: 1px solid #4d6986;
    .slogan-txt {
      color: $primary-color-dark;
      font-size: 23px;
      font-weight: 600;
      display: inline-block;
      width: 200px;
      font-family: 'Lobster', cursive;
      .slogan-right {
        font-size: 32px;
      }
    }
  }
  .support-row{
    display: flex;
    align-items: center;
    b{
      margin-right: 8px;
    }
  }
  .user-block{
    height: 120px;
    display: flex;
    align-items: center;
    a{
      color: #fff;
      &:hover{
        color: $secondary-color;
      }
    }
  }
}
.sidenav{
  padding-top: 24px;
  top: 0px;
  z-index:10001;
}
@include breakpoint(max-width $medium-screen){
  header.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    nav{
      height: 48px;
      .sidenav-trigger{
        height: 48px;
      }
    }
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i{
      height: 48px;
      line-height: 50px;
    }
  }
  .content{
    margin-top:12px;
  }
}
.s-link{
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}
.sidenav{
  .dop-section {
    border-top: 1px solid #ccc;
    padding-left: 14px;
    padding-right: 14px;
    .tags-block{
      border:none;
    }
  }
}

.section-header{
  text-align: center;
  margin-bottom: 2rem;
  margin-top:0;
}
.top-block {
  height: 136px;
  background-color: rgba(221,232,253,.9);
  @include breakpoint(max-width $medium-screen){
    display:none;
  }
}
.breadcrumbs{
  list-style: none;
  padding: 0;
  margin: 18px 0;
  @include breakpoint(max-width $large-screen){
    margin-top: 60px;
  }
  .breadcrumb-item{
    display: inline-block;
    font-size: 13px;
    &.active{
      color: #6c6c6c;
    }
  }
  .seporator-item{
    margin-left: 5px;
  }
}
.nav-block .container{
  background-color: $primary-color;
}
.main-menu ul{
  @include breakpoint(max-width $medium-screen){
    display:none;
  }
  li{
    &:hover, &.active{
      a{
        background-color: $secondary-color;
      }
    }
    a{
      background-color: $primary-color-dark;
      border-right: 1px solid $primary-color;
    }
    &:last-child{
      a{
        border-right: 0;
      }
    }
  }
}

.container{
  &.with-sidebar{
    display: flex;
    .content{
      width:calc(100% - 240px);
      @include breakpoint(max-width $medium-screen){
        width: 100%;
      }
    }
  }
}
.ajax-load {
  position: fixed;
  height: 64px;
  width: 64px;
  left: 50%;
  top: 50%;
  background-image: url(/images/spin-ajax.svg);
  z-index: 1;
}
.content ul{
  list-style-type:disc;
  list-style-position: inside;
  li{
    list-style-type:disc;
  }
}
.border-block{
  border:1px solid #ccc;
}
.youtube-video{
  @include breakpoint(max-width 600px){
    width: 100%;
  }
}
.sidebar{
  width: 220px;
  margin-right: 20px;
  @include breakpoint(max-width $medium-screen){
    display: none;
  }
}
.sda-block img{
  max-width: 100%;
}
.word-popup{
  text-decoration: underline;
  cursor:pointer;
  &:hover{
    color: blue;
  }
}
.table{
  display: table;
  width: 100%;
}
.table-row{
  display: table-row;
  &:nth-child(odd){
    .table-cell{
      background-color: #f2f2f2;
    }
  }
}
.table-cell{
  display: table-cell;
  padding: 8px;
}

.nav-pagen{
  text-align: center;
  .pagination{
    li{
      &.active{
        span.page-link{
          width: 30px;
          height: 30px;
          color: #fff;
          display: inline-block;
          line-height: 30px;
        }
      }
      &:first-child,&:last-child{
        vertical-align: middle;
      }
      &:first-child .page-link, &:last-child .page-link{
        font-size: 48px;
        width: 30px;
        height: 30px;
        display: inline-block;
        line-height: 30px;
        position: relative;
        top: -4px;
      }
    }
  }
}

/*page misc*/
.type-item {
  margin-bottom: 6px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}
/***********/

.page-footer{
  background-color: map-get($grey, 'darken-1');
  .menu-block{
    @include breakpoint(max-width $medium-screen){
      display: none;
    }
    ul{
      li{
        &.active{
          a{
            color: $secondary-color;
          }
        }
        a{
          color: #fff;
          &:hover{
            color: $secondary-color;
          }
        }
      }
    }
  }
  .vk-block{
    text-align: right;
    @include breakpoint(max-width $small-screen){
      text-align: center;
    }
    .white-text{
      text-align: center;
    }
  }
  .center-cell{
    text-align: center;
    @include breakpoint(max-width $medium-screen){
      text-align: left;
    }
    @include breakpoint(max-width $small-screen){
      text-align: center;
    }
  }
  .center-component{
    width: 220px;
    height: 200px;
    display: inline-block;
  }
  #vk_groups{
    display: inline-block;
  }
}
/**inputs*/
.input-text {
  height: 32px;
  width: 100%;
  border: 1px solid #ccc;
  padding-left: 4px;
  padding-right: 4px;
  &:focus{
    box-shadow: 0px 0px 2px 1px rgba(98, 172, 17, 0.4);
  }
}
.page-404{
  display: table;
  width: 100%;
  height: 70vh;
  text-align: center;
}

.fof{
  display: table-cell;
  vertical-align: middle;
}

.fof h1{
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type .5s alternate infinite;
}

@keyframes type{
  from{box-shadow: inset -3px 0px 0px #888;}
  to{box-shadow: inset -3px 0px 0px transparent;}
}